{% extends 'base.html' %}

{% block content %}
<header>
    <h1>Covid Vaccine Notifer</h1>
    <p>Get an email when a vaccine is available near you. Status of pharmacies
       is checked every 5 minutes. You will receive an email if a location
       in your range has an opening.</p>
</header>
<main>
  <form action="" method="post">
    <label>Email: </label><br/>
    <input type="text" id="email" name="email" placeholder="email"><br/>
    <label>Zip code: </label><br/>
    <input type="text" id="zipcode" name="zipcode" placeholder="zip code"><br/>
    <label>Desired distance from zip (in miles): </label><br/>
    <input type="number" id="distance" name="distance" placeholder="desired distance from zip (in miles)"><br/><br/>
    <input type="submit" value="Submit">
  </form>
  {% if message %}
        <p>{{ message }}</p>
  {% endif %}
</main>
<footer>
  <p>
    Created by <a href="https://lukew3.com">Luke Weiler</a> ·
    <a href="https://github.com/lukew3/covid-vaccine-notifier">Github</a> ·
    Powered by <a href="https://www.vaccinespotter.org/">Vaccinespotter.org</a>
  </p>
</footer>
{% endblock %}
